
#cryptoTable {
  font-family: "Open Sans";
  border-collapse: collapse;
  width: 100%;
}

#cryptoTable .super-header {
  text-align: left;
}

#cryptoTable .title {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Open Sans";
  font-weight: 100;
  font-size: 15px;
  color: #98A8B4;
  letter-spacing: 0;
}

#cryptoTable .string-header {
  text-align: left;
  padding-left: 7px;
}

#cryptoTable .number-header {
  text-align: right;
  padding-right: 7px;
}

.number {
  text-align: right; 
}

#cryptoTable td {
  border-top: 1px solid #c2c4c4;
  padding: 8px;
  align-content: center;
  font-size: 12px;
  color: #969696;
}

#cryptoTable td.green {
  color: #43A23C;
}

#cryptoTable td.red {
  color: #D8354A;
}

#cryptoTable tr.selected {
  background-color: #CBDFE3;
  color: white;
}

#cryptoTable tr:nth-child(even){background-color: #F6F8FB;}

#cryptoTable tr:nth-child(even).selected{background-color: #CBDFE3;}

#cryptoTable tr:hover {
  background-color: #CBDFE3;
  border: 1px solid #f2f2f2;
}

#cryptoTable td.neutral-flash {
  opacity: 0;
}

#cryptoTable td.green-flash {
  color: green;
  transition: opacity 2s linear;
  opacity: 1;
}

#cryptoTable th {
  font-weight: normal;
  background-color: #F0F2F5;
  font-size: 11px;
  color: #404040;
  align-content: center;
  letter-spacing: 0;
}

#cryptoTable .blink-green {
  color: #43A23C;
  opacity: 1;
  animation-name: uptickFade;
  animation-duration: 2s;
}

#cryptoTable .blink-red {
  color: #D8354A;
  opacity: 1;
  animation-name: downtickFade;
  animation-duration: 2s;
}

@keyframes uptickFade {
0% {
  opacity: 1;
  font-weight: bolder;
}

25% {
  opacity: 0.8;
  font-weight: bolder;
}

50% {
  opacity: 0.65;
  font-weight: bolder;
}

75% {
  opacity: 0.5;
  font-weight: bolder;
  }

}

@keyframes downtickFade {
  0% {
    opacity: 1;
    font-weight: bolder;
  }

  25% {
      opacity: 0.8;
      font-weight: bolder;
    }


  50% {
      opacity: 0.65;
      font-weight: bolder;
    }

  75% {
      opacity: 0.5;
      font-weight: bolder;
  }
}

.btn {
  font-family: Arial;
  font-size: 12px;
  padding: 10px 15px 10px 15px;
  border-top: 1px solid #eee;
}

.btn:hover {
  background: #ddd;
  border-top: 1px solid #eee;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #fefefe; /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
.sellclose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* The Close Button */
.buyclose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  z-index: 2;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: none;
  position:fixed;
  top: 30%;
  left: 45%;
  background-color: #f3f3f3;
  background : rgba(0,0,0,.5);
  background-repeat: no-repeat;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#ticket-panel {
  font-family: "Open Sans";
}

#ticket-panel hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

#ticketPanel .title {
  font-size: 13px;
  color: #FFFFFF;
  background-color: #F0F2F5;
  letter-spacing: 0;
}

#ticket-panel .symbol {
  opacity: 0.65;
  font-size:20px;
  color: #404040;
  letter-spacing: 2px;
}

#ticket-panel .price {
  font-size: 18px;
  color: #404040;
}

#ticket-panel .usd {
  opacity: 0.65;
  font-size: 10px;
  color: #898989;
}

#ticket-panel .balance-text {
  text-align: center;
  opacity: 0.65;
  font-size: 13px;
  color: #404040;
}

#ticket-panel .balance {
  font-size: 13px;
  color: #404040;
} 

#ticket-panel .ticket {
  display: flex;
  flex-direction: column;
}

#ticket-panel .header {
  background-color: #4482AE;
  color: #F5F8FA
}

#ticket-panel .ticket-content {
    padding-left: 15px;
}

#ticket-panel .status-row {
  padding-top: 10px; 
  padding-left: 5px;
  line-height: 20px; 
  text-align: center;
  display: flex;
  flex-direction:row;
}

#ticket-panel .quantity-row {
  padding-left: 5px;
  display: flex;
  flex-direction: row;
}

#ticket-panel .quantity-text {
  font-size: 12px;
}

#ticket-panel .action {
    font-size:20px;
    color:#FFFFFF;
    letter-spacing: 2px;
}

#ticket-panel .action-amount {
    padding-left: 15px;
    font-size: 20px;
    color: #FFFFFF;
}

#ticket-panel .action-symbol {
    padding-left: 15px;
    opacity: 0.65;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 2px;
}

#ticket-panel .action-value {
    padding-left: 15px;
    font-size: 18px;
    color: #FFFFFF;
}

#ticket-panel .box {
    margin: 5px;
}

#ticket-panel .buy-box {
  color: #F5F8FA;
  background: #4DA239;
}

#ticket-panel .sell-box {
  color: #F5F8FA;
  background: #C2394B;
}

#ticket-panel .potential {
    display: flex;
    flex-direction: row;
    width: 600px;
}

#ticket-panel .pot-top-row {
  line-height: 20px; 
  text-align: center;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
}

#ticket-panel .blink {
    opacity: 0;
    animation-name: fadeOut;
    animation-duration: 5s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 100%;
  }
}

#ticket-panel .balance-row {
    padding-top: 15px;
    padding-bottom: 15px;
}

#ticket-panel .new-balance-text {
  text-align: right;
  padding-right: 5px;
  opacity: 0.65;
  font-size: 13px;
  color: #FFFFFF;
}

#ticket-panel .new-balance-value {
  padding-left: 5px;
  text-align: left;
  font-size: 13px;
  color: #FFFFFF;
}

#ticket-panel .small-text {
  opacity: 0.65;
  font-size: 11px;
  color: #FFFFFF;
}

#ticket-panel .buttons {
  display: flex;
  flex-direction: row;
  width: 600px;
}

#ticket-panel button {
  color: #FFFFFF;
  font-size: 12px;
  letter-spacing: 0.5px;
  height: 30px;
  width: 80px;
}

#ticket-panel .buy-button {
  background-image: linear-gradient(-180deg, #43A23C 0%, #35902F 100%);
  border: 1px solid #2C8225;
}

#ticket-panel .sell-button {
  background-image: linear-gradient(-180deg, #C7394B 0%, #A32838 99%);
  border: 1px solid #891625;
}