<table>
  <tr>
    <th class="super-header" colspan="5">Data</th>
    <th class="super-header" colspan="2">Holdings</th>
  </tr>
  <tr>
    <th class="string">Coin</th>
    <th class="string">Name</th>
    <th class="number">Price (USDT)</th>
    <th class="number">Volume</th>
    <th class="number">Change (24h)</th>
    <th class="number">Amount</th>
    <th class="number">Value (USDT)</th>
  </tr>
  <tr *ngFor="let coin of coins">
    <td>{{ coin.coin }}</td>
    <td>{{ coin.name }}</td>
    <td class="number">{{ coin.last }}</td>
    <td class="number">0.00000000</td>
    <td class="number">0.00000000</td>
    <td class="number">0.00000000</td>
    <td class="number">0.00000000</td>
  </tr>
</table>