<table id=cryptoTable>
  <thead>
    <tr class="super-header">
      <th class="title" colspan="5">Crypto Blotter</th>
      <th class="title" colspan="2">Holdings</th>
    </tr>
    <tr>
      <th class="string-header">Coin</th>
      <th class="string-header">Name</th>
      <th class="number-header">Market Price (USD)</th>
      <th class="number-header">Volume</th>
      <th class="number-header">Change (24h)</th>
      <th class="number-header" style="border-left: 1px solid #c2c4c4">Balance</th>
      <th class="number-header">Value (USD)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>USD</td>
      <td>United States Dollars</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="number">150,000.00000</td>
      <td class="number">150,000.00000</td>
    </tr>
    <tr *ngFor="let coin of coins" (click)="selectCoin(coin)" [ngClass]="{ 'selected': coin == selectedCoin }">
      <td>{{ coin.coin }}</td>
      <td>{{ coin.name }}</td>
      <td class="number" [ngClass]="blinkClass[coin.coin]">{{ coin.last }}</td>
      <td class="number">{{ coin.volume }}</td>
      <td class="number" [ngClass]="{ red: coin.change < 0, green: coin.change > 0 }">{{ coin.change }}</td>
      <td class="number">{{ getWalletAmount(coin.coin).toFixed(5) }}</td>
      <td class="number">{{ getWalletValue(coin).toFixed(5) }}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td style="font-weight: bold" class="number">{{ getTotal().toFixed(5) }}</td>
    </tr>
  </tbody>
</table>