.main-view {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.app-name {
  background-color: #4CAF50;
}

form {
  float: right;
  padding-right: 10px;
}

input {
  text-align: center;
  padding: 5px 10px;
  margin: 10px 0;
}

input[type=submit] {
  border-radius: 4px;
}
