.main-view {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.main-left {
  width: 50%;
  min-width: 625px;
}

.main-right {
  width: 50%;
  min-width: 625px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.app-name {
  background-color: #4CAF50;
}