<div id="ticket-panel">
  <div class="ticket">
    <div class="header" style="padding-top: 5px; padding-bottom: 5px">
      <div class="title" style="padding-left:15px">Trade Cryptocurrency</div>
    </div>
    <div class="ticket-content">
      <div class="status-row">
        <div class="symbol">{{ ticket.coin }}</div>
        <div class="price" style="padding-left:30px">{{ ticket.last }}</div>
        <div class="usd">USD</div>
        <div class="balance-text">BALANCE:</div>
        <div class="balance">{{ ticket.balance }}</div>
        <div class="balance-text">CASH BALANCE:</div>
        <div class="balance">{{ ticket.value }}</div>
        <div class="usd">USD</div>
      </div>
      <hr>
      <div class="quantity-row">
        <div class="quantity-text">Quantity</div>
        <div style="padding-left:20px" >
          <input #quantity style="text-align: right" placeholder="0" type="number" (keyup)="qtyChange(quantity.value)">
        </div>
        <div ng-class="{ blink: success }" style="color: #4482AE; padding-left: 30px" id="successMessage"></div>
      </div>
      <hr>
      <div class="potential">
        <div class="box buy-box" style="float: left">
          <div class="pot-top-row" style="padding-top: 15px">
            <div class="action">BUY</div>
            <div class="action-amount">{{ ticket.quantity }}</div>
            <div class="action-symbol">{{ ticket.coin }}</div>
            <div class="action-value">{{ ticket.value }}</div>
          </div> 
          <div class="pot-top-row small-text balance-row">Balance after BUY</div>
          <div class="pot-top-row">
            <div class="new-balance-text">NEW BALANCE</div>
            <div class="new-balance-value">{{ buyNewBalance() }}</div>
          </div>
          <div class="pot-top-row" style="padding-bottom: 15px;">
            <div class="new-balance-text">NEW CASH BALANCE</div>
            <div class="new-balance-value">{{ buyNewCash() }}</div>
          </div>
        </div>
        <div class="box sell-box" style="float: right">
          <div class="pot-top-row" style="padding-top: 15px">
            <div class="action">SELL</div>
            <div class="action-amount">{{ ticket.quantity }}</div>
            <div class="action-symbol">{{ ticket.coin }}</div>
            <div class="action-value">{{ ticket.value }}</div>
          </div>
          <div class="pot-top-row small-text balance-row">Balance after SELL</div>
          <div class="pot-top-row">
            <div class="new-balance-text">NEW BALANCE</div>
            <div class="new-balance-value">{{ sellNewBalance() }}</div>
          </div>
          <div class="pot-top-row" style="padding-bottom: 15px;">
            <div class="new-balance-text">NEW CASH BALANCE</div>
            <div class="new-balance-value">{{ sellNewCash() }}</div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <div style="margin: 5px; width:50%; float: left">
          <button class="buy-button" style="float: right"  ng-click="buyAction()">Buy</button>
        </div>
        <div style="margin: 5px; width:50%; float: right">
          <button class="sell-button" style="float: right"  ng-click="sellAction()">Sell</button>
        </div>
      </div>
    </div>
  </div>
</div>